@import "./common.css";

.whiteNaviWrapper,
.blackNaviWrapper {
  position: fixed;
  width: 100%;
  cursor: default;
  z-index: 99999999;
  backdrop-filter: blur(6px);
}

.whiteNaviWrapper,
.whiteLink,
.whiteButton {
  color: white;
}

.blackNaviWrapper,
.blackLink,
.blackButton {
  color: #0a0307;
}

.naviContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 4px 180px 0 180px;
  width: calc(100% - 360px);
}

.linkContents {
  display: flex;
  gap: 10px;
  margin-top: 12px;
  font-size: 12px;
}

.whiteLink,
.blackLink {
  text-decoration-line: none;
}

.linkContents > li > a:hover,
.linkContents > li > button:hover {
  color: #267be4;
  font-weight: bold;
}

.whiteButton,
.blackButton {
  padding: 0;
  padding-block: 0;
  cursor: pointer;
  border: none;
  background: transparent;
}
