.projectOverviewWrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(6px);
  z-index: 999;
}

.projectOverviewContainer {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 1062px;
  min-width: 400px;
  background: white;
  border-radius: 12px;
  color: #0a0307;
}

.projectTitleWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 62px 4px 10px;
}

.dotWrapper {
  display: flex;
  gap: 4px;
}

.dotWrapper > div {
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.dotWrapper > div:first-child {
  background: #fe5e5a;
}

.dotWrapper > div:nth-child(2) {
  background: #fcc029;
}

.dotWrapper > div:nth-child(3) {
  background: #23cb37;
}

.projectName {
  font-family: "Pretendard-Medium";
  font-size: 20px;
  color: #0a0307;
}

.projectSummary {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 40px;
  margin-bottom: 40px;
  font-size: 12px;
  font-family: "Pretendard-Regular";
  color: #787878;
  background: #f0f0f0;
}

.projectContentsWrapper {
  padding: 0 40px;
}

.projectContentsWrapper > div {
  padding-bottom: 32px;
}

.projectContentsWrapper > div > h3 {
  margin-bottom: 10px;
  padding: 4px 0;
  color: #0a0307;
  font-family: "Pretendard-SemiBold";
  font-size: 20px;
  border-bottom: 1px solid #d9d9d9;
}

.projectContentsWrapper > div > p {
  margin-bottom: 6px;
  line-height: 1.2;
}

.projectContentsWrapper > div > p > span {
  font-weight: bold;
}

.techStackWrapper {
  display: flex;
  gap: 4px;
}

.techStack {
  display: inline-block;
  padding: 4px 8px;
  border-radius: 4px;
  color: #eb5757;
  background: #87837826;
}

.projectLinkContents {
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-size: 16px;
}

.projectLinkContents > a {
  color: #0a0307;
  text-decoration: none;
}

/* media query */

@media (max-width: 800px) {
  .projectContentsWrapper {
    padding: 0 20px;
  }

  .projectSummary {
    margin-bottom: 20px;
  }

  .projectContentsWrapper > div {
    padding-bottom: 20px;
  }

  .techStackWrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}
